@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-primary{
  @apply bg-blue-900 text-white px-4 py-1 rounded-md;
  transition: background-color 0.3s, color 0.3s;
}

.btn-primary:hover {
  @apply bg-blue-500 text-gray-100; 
}

table.basic {
  width: 100%;
}

table.basic thead tr td {
  background-color: #BFDBFE;
}


table.basic tr td {
  border: 1px solid #CBD5E0; 
  padding: 0.5rem;
}


.text-blue-700 {
  color: #1f71ce; 
  font-size: 20px;
  line-height: 1.5; 
  font-weight: 600;
  margin-bottom: 0.5rem;
}
label {
  @apply text-blue-700 text-[20px] leading-6 font-[600] mb-2
}

.Property-btn {
  @apply bg-gray-500 text-white px-4 py-1 rounded-md text-sm mb-2;
  transition: background-color 0.3s, color 0.3s;
}

.Property-btn:hover {
  @apply bg-gray-700 text-gray-100; 
}